@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
	background-color:#dddddd;
}

.contents > .join-box {
	width:350px;
}

.input-box {
	width:650px;
}

.list-box {
	width:900px;
}

footer {
	height:50px;
	background-color:#dddddd;
}
